body{
    font-family: "Open Sans";
    text-transform: uppercase;
}

.header{
    text-align: center;
    height: auto;
    background: white;
    padding: 15px;
    /* position: fixed; */
}

.logo{
  height:150px;
  width: auto;

}
.hidden{
    display: none;

}

.smallHeader{
    height: 200px;
    background: white;
    text-align: center;
}
.smallHeader .logo{
    height: 100px;
    width: auto;
    margin:5px;
}
.smallHeader .hidden{
    display: block;
    margin-top:10px;
    font-size: 1.em;
}


span {
    display: block;
    content: " ";
    height: 240px;
    margin-top: -240px;
    visibility: hidden;
    pointer-events: none;
}

.leaderBoard {
    display: flex;
    flex-direction: column;
    width:auto;
    /* justify-content: space-around; */
    background-color: #26aae1;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    min-height: 350px;
    padding: 10px;
    overflow: hidden;
    border: black 5px solid;
    border-radius: 5px;
    margin: 1.5em;
}

.title{
  display: flex;
  align-items: flex-start;
  font-weight: bold;
}

.carousel{
  margin: 10px;
  width: auto;
  display: flex;
  
}

.entry{
    text-align: center;
    margin-top:10px;
}

.hp
{
    border:hotpink 2px solid;
}

h3{
    text-align: center;
}
h1{
    text-align: center;
}
a:hover
{
    border: #26aae1 2px solid;
}
#theRules {
    width: 100%;
}
.textBlock{
    max-width:80%;
    margin:10px 10px 40px 10px;
}

/* Smartphones (portrait and landscape) ----------- */
@media (max-width: 480px) {

.textBlock{
    max-width:100%;
}
.filters{
    flex-direction: column;
    align-items: center;
}
.option{
    min-width: 60%;

}

}
/* css for the gallery */
.filters{
    display: flex;
    justify-content: space-around;
}
.option{
    background-color: #26aae1;
    padding:5px;
    border: black 2px solid;
    border-radius: 5px;
    text-align: center;
    margin: 5px;

}
select{
    font-family: "Open Sans";
    text-transform: uppercase;
    color: white;
    background-color: #26aae1;
    border: none;
}
.center{
    text-align: center;
}


/* CSS for rules page  */
.rules{
    display: flex;
    flex-direction: column;
}
.pRules{
    max-width: 85%;
    align-self: center;
    word-wrap: normal;
    margin:.75em;
}
.button{
    justify-content: center;
    background-color:#26aae1;
}

